<div fxLayout="row" class="m-20" fxLayoutGap="30px" fxLayoutAlign="space-end">
  <button (click)="navigateToCreate()" class="mr-20" mat-flat-button color="primary">
    Add New
  </button>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="30px"
  class=" product-list-data-table mat-elevation-z1">
  <app-data-table (onPageChange)="onPageChange($event)"  [pageConfig]="pageConfig" [columns]="columns" [loadingIndicator]="loadingIndicator" [rows]="rows">
  </app-data-table>

  <ng-template #headerTemplate let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span (click)="sort()">
      {{ column.name }}
    </span>
  </ng-template>
  <ng-template #imageTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
    <div class="ml-32">
      <div class="product_img mb-4">
        <img [src]="row.ImageUrl" alt="" />
      </div>
    </div>
  </ng-template>
  <ng-template #actionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
    <div class="ml-32">
      <div class="mat-body-1 mb-4">
        <span><i (click)="navigateToEdit(row)" class="fa icon fa-pencil mr-20"></i></span>
        <span><i (click)="delete(row)" class="fa icon fa-times mr-20"></i></span>
        <span><i (click)="view(row)" class="fa icon fa-eye"></i></span>
      </div>
    </div>
  </ng-template>
</div>