<header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="30px" fxFlex="25">
    <div class="container">
        <div class="row">
            <div class="logo">
                <img src="http://www.vasterad.com/themes/trizzy/images/logo.png" alt="">
            </div>
            <div class="cart" fxLayout="column" fxFlex="75">
                <a href=""><i class="fa fa-shopping-cart"></i></a>
                <span>1</span>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>