<div  fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="30px" class=" product-create mat-elevation-z1">

    <form fxLayout="column" style="width: 100%">
      
          <mat-form-field  fxFlex  class="example-full-width">
              <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>
     
      
        <mat-form-field class="example-full-width" fxFlex>
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>
</div>