<div  fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="30px" class=" product-create mat-elevation-z1">

    <form fxLayout="column" style="width: 100%">
      
          <mat-form-field  fxFlex  class="example-full-width">
              <input matInput placeholder="Product Name" >
            </mat-form-field>
          <mat-form-field  fxFlex  class="example-full-width">
              <input matInput placeholder="Product ShortCode" >
            </mat-form-field>
          <mat-form-field  fxFlex  class="example-full-width">
              <input matInput placeholder="Price" >
            </mat-form-field>
     
      
        <mat-form-field class="example-full-width" fxFlex>
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field  fxFlex  class="example-full-width">
          <input matInput placeholder="ImageUrl" >
        </mat-form-field>
        <mat-form-field  fxFlex  class="example-full-width">
          <input matInput placeholder="Origin" >
        </mat-form-field>
      </form>
</div>