<div class="cart-body" style="display: block;">
  <span class="top-arrow"><i class="fas fa-caret-up"></i></span>
  <div class="inner-cart-body">
    <div class="cart-list">
      <img src="img/1.jpg" class="img-fluid" />
      <div class="cart-name-price">
        <h4>
          Rose Flower <a href="#"><i class="fas fa-trash-alt"></i></a>
        </h4>
        <span>$898</span>
      </div>
    </div>
    <div class="cart-list">
      <img src="img/2.jpg" class="img-fluid" />
      <div class="cart-name-price">
        <h4>
          Rose Flower <a href="#"><i class="fas fa-trash-alt"></i></a>
        </h4>
        <span>$898</span>
      </div>
    </div>
    <div class="cart-list">
      <img src="img/3.jpg" class="img-fluid" />
      <div class="cart-name-price">
        <h4>
          Rose Flower <a href="#"><i class="fas fa-trash-alt"></i></a>
        </h4>
        <span>$898</span>
      </div>
    </div>

    <div class="carthome-total w-100">
      <h5>Cart Total <span>$494</span></h5>
      <a href="#" class="button lbtn-50 theme-btn lbtn-xs radius">Checkout</a>
      <a href="#" class="button lbtn-50 theme-btn lbtn-xs radius">View Cart</a>
    </div>
  </div>
</div>
