<div class="cart-body" style="display: block;">
  <span class="top-arrow"><i class="fas fa-caret-up"></i></span>
  <div class="inner-cart-body">
    <div class="cart-list" *ngFor="let cart of cartItems">
      <img [src]="cart.product.ImageUrl" class="img-fluid" />
      <div class="cart-name-price">
        <h4>
          {{ cart.product.ProductName }}
        </h4>
        <span>${{ cart.product.Price }}</span>
        <span style="margin-left: 60%"> x{{ cart.quantity }} </span>
      </div>
    </div>

    <!-- <div class="carthome-total w-100">
      <h5>Cart Total <span>${{totalPrice}}</span></h5>
      <a [routerLink]="['/my-cart']" class="button lbtn-50 theme-btn lbtn-xs radius">View Cart</a>
    </div> -->
  </div>
</div>
<!-- 
<a href="#"><i class="fas fa-trash-alt"></i></a> -->
