.product_img  img {
    height: 85px;
    width: 90px;
}

.productList {
    width: 70%;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
}

span {
    background: #38373c;
    padding: 7px;
    color: #fff;
}

#view_qty {
    background: transparent;
    color: #000;
    border: 1px solid #000;
}