<mat-card class="example-card  mat-elevation-z1">
  <div class="product-image">
    <img [src]="product.ImageUrl" />
  </div>
  <div class="product-info">
    <h5> {{product.ProductName}} <br> <span>$ {{product.Price}}</span></h5>
    <h6></h6>
    <a class="cart-btn">
      <span class=" cart-qty-update">+ </span><button class="add-to-cart">Add to cart </button> <span
        class="cart-qty-update">- </span>
    </a>
  </div>
  <div class="view-details">
    <button (click)="navigateToDetails()" class="view-details-btn">View Details</button>
  </div>
</mat-card>