<div
  *ngIf="product"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-between"
  fxLayoutGap="30px"
  class="mat-elevation-z1 project-details"
>
  <div fxLayout="column" fxFlex="25">
    <img [src]="product.ImageUrl" />
  </div>
  <div fxLayout="column" fxFlex="75">
    <div>
      <h2 style="float: left" class="sub-title">
        {{ product.Category }}
      </h2>
      <a class="back-btn icon" (click)="backToList()">
        back
      </a>
    </div>
    <h4 class="title">
      {{ product.ProductName }}
    </h4>
    <p>
      {{ product.Description }}
    </p>
    <p>
      <b>Price : $ {{ product.Price }} </b>
    </p>
  </div>
</div>

<div class="row" *ngIf="!product">
  <app-loader></app-loader>
</div>
