/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "~ngx-toastr/toastr";
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/material.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  color: #666666;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  flex: 1;
}
.search {
  flex: 2;
}
.cart {
  position: relative;
  flex: 1;
  font-size: 40px;
  margin-top: 20px;
}

#cart-count-div {
  position: absolute;
  top: -9px;
  font-size: 20px;
  background: green;
  /* padding: 0px 6px; */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* letter-spacing: -6px; */
  text-align: center;
  color: #fff;
  line-height: 29px;
  left: 27px;
}
.col {
  flex: 1;
}

.product-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  align-items: center;
}

.view-details {
  align-items: center;
  justify-content: center;
  display: flex;

  height: 100%;
  width: 100%;
}

.view-details button {
  padding: 14px 30px 14px;
  background-color: transparent;
  border: 1px solid #ff5151;
  color: #ff5151;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  z-index: 1;
  margin-top: 15px;
  cursor: pointer;
}

.product-info {
  margin-top: auto;
}

.cart-btn {
  border: 1px solid #ffb9b9;
  display: inline-block;
  height: 41px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 160px;
  border-radius: 100px;
  outline: none;
  background: transparent;
  text-align: center;
}
.cart-btn button {
  height: 100%;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.cart-btn span {
  cursor: pointer;
  // margin: 0 10px;
  display: inline-block;
  margin: 5px 14px;
  padding: 7px 10px;
  // display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
}
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.product-name {
  flex: 2;
}
.modal-img {
  flex: 1;
  width: 300px;
}

#cart-view-sidebar {
  width: 28%;
  float: left;
}

#productSection {
  width: 100%;
  float: left;
}

.inner-cart-body {
  padding: 15px 0;
}

.cart-list {
  float: left;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  display: table;
  border-bottom: 1px solid #eee;
  padding-left: 15px;
  padding-right: 15px;
}

.cart-list img {
  display: table-cell;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
}
.cart-name-price {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  width: 80%;
}
.cart-name-price h4 {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: 0;
}
.cart-name-price span {
  font-weight: 400;
  font-size: 15px;
}
.cart-name-price h4 a {
  float: right;
  font-weight: 400;
  font-size: 15px;
  margin-top: 13px;
  color: #041531;
}

.carthome-total h5 {
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 10px;
}
.carthome-total h5 span {
  float: right;
  color: #555;
  font-weight: 400;
}

.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  margin: 13px 16px;
  cursor: pointer;
}

.title {
  font-family: ZurichBT-Bold, "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.sub-title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: 0.05em;
  line-height: 1.7;
  line-height: 1;
  background: #e44747;
  width: 141px;
  padding: 10px 24px;
  text-align: center;
  border-radius: 34px;
  color: #fff;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #f2f3f8;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;
  .logo {
    padding: 2%;
  }
  .nav-manu {
    display: inline-block;
    float: right;
    flex: 3;
    align-items: center;
    justify-content: space-around;
    display: flex;
  }
  .nav-manu ul {
    float: right;
  }
  .nav-manu ul li {
    display: inline-block;
    margin: 0 -2px;
  }
  .nav-manu ul li a {
    line-height: 55px;
    padding: 0 20px;
    display: block;
    text-transform: uppercase;
    color: #041531;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .nav-leftside ul {
    float: right;
    padding-right: 25%;
  }
  .nav-leftside ul li {
    display: inline-block;
    position: relative;
  }
  .nav-leftside ul li a {
    line-height: 55px;
    padding: 0 20px;
    display: block;
    text-transform: uppercase;
    color: #041531;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
  }
  .cart-item {
    position: absolute;
    left: 27px;
    top: 12px;
    background-color: #43a038;
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 10px #ccc;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
  }
}

/*-- cart css --*/
.cart-body {
  background: #fff;
  border-left: 1px solid #f2f3f8;
  border-right: 1px solid #f2f3f8;
  border-bottom: 1px solid #f2f3f8;
  display: none;
  width: 350px;
  position: absolute;
  right: 30px;
  top: 107px;
  -webkit-transition: all 0.2s linear;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.shrink .cart-body {
  top: 77px;
}
.top-arrow {
  position: absolute;
  top: -25px;
  right: 60px;
  color: #fff;
  font-size: 30px;
}
.inner-cart-body {
  padding: 15px 0;
}
.cart-list {
  float: left;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  display: table;
  border-bottom: 1px solid #eee;
  padding-left: 15px;
  padding-right: 15px;
}
.cart-list img {
  display: table-cell;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
}
.cart-name-price {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  width: 80%;
}
.cart-name-price h4 {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.cart-name-price h4 a {
  float: right;
  font-weight: 400;
  font-size: 15px;
  margin-top: 13px;
  color: #041531;
}
.cart-name-price span {
  font-weight: 400;
  font-size: 15px;
}
.carthome-total {
  padding: 0 15px;
}
.carthome-total h5 {
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 10px;
}
.carthome-total h5 span {
  float: right;
  color: #555;
  font-weight: 400;
}

.mr-20 {
  margin-right: 20px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.m-10 {
  margin: 10px !important;
}

.back-btn {
  background: #3acf87;
  border-radius: 23px;
  // margin: 0 31%;
  color: #fff;
  padding: 12px 23px;
  width: 124px;
  text-align: center;
  float: right;
}

app-loader {
  width: 100%;
}
.icon {
  cursor: pointer;
}

ngx-datatable {
  height: 100%!important;
}